<template>
  <div class="avatar">
    <img
      width="32"
      height="32"
      class="image"
      :src="student.image ? student.image:'https://sun4-16.userapi.com/impf/WzLEqYvBsbMdxJlgFAwhwUMQGRDkVh_IXyY8dA/II1SOPONFmU.jpg?size=864x1080&quality=96&sign=5d4f62a95d8c88e37d420181080ec44a&type=album'"
      alt="Pupil"
    />
    <div class="name">
      {{ student.full_name }}
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  props: [
    'student'
  ],
  data() {
    return {}
  }
}
</script>

<style scoped lang="scss">

.avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.image {
  border-radius: 20px;
}

.name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 9px;
  width: 300px;
}
</style>
