<template>
  <div class="earned">
    <div class="top">
      <div class="min">
        {{ managesSum }} <img src="/icons/filled.svg" alt="filled"/>
      </div>
      <div class="max">
        500 <img src="/icons/filled.svg" alt="filled"/>
      </div>
    </div>
    <div class="bottom">
      <div :style="{width: `${calcPercents(managesSum)}%`}" class="bottom-fill">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  props: [
    'student'
  ],
  data() {
    return {}
  },
  computed: {
    managesSum() {
      let sum = 0;

      for(let manageIndex in this.student.manages) {
        sum += this.student.manages[manageIndex]['count']
      }

      return sum
    }
  },
  methods: {
    calcPercents(earn) {
      return (earn * 100) / 500;
    }
  }
}
</script>

<style scoped lang="scss">
.earned {
  order: 3;
  width: inherit;
  max-width: 525px;
  height: 55px;
  margin-left: 120px;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: row;
  height: 28px;
  justify-content: space-between;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;

  .min {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .max {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.bottom {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  height: 6px;
  overflow: hidden;

  &-fill {
    background: #DEAF88;
    height: 6px;
    border-radius: 5px;
  }
}
</style>
