<template>
  <div class="list">
    <Tag
      :text="index"
      :cost="tag.count"
      :color="tag.color"
      v-for="(tag, index) in tags"
    />
  </div>
</template>

<script>
import Tag from "@/components/home/list/row/tags/Tag";

export default {
  props: [
    'tags'
  ],
  components: {
    Tag
  },
  data() {
    return {}
  }
}
</script>

<style scoped lang="scss">
.list {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
  margin-top: -14px;
}
</style>
