<template>
  <div class="wrap" :class="{'wrap-saved': saved}">
    <Comment
      v-if="showComment"
      :manages-index="managesIndex"
      :activity-index="activityIndex"
      :activity="activity"
      :disabled="disableComment"
      :saved="saved"
      :editable="editable"
    />
    <Cost :activity="activity" :show-cross="showCross"/>
    <AddSubCost
      v-if="(activity.checked && !saved) || (saved && editable)"
      :manages-index="managesIndex"
      :activity-index="activityIndex"
      :activity="activity"
    />
    <Checkbox
      v-if="!saved || (saved && editable)"
      :init-checked="activity.checked"
      :width="'20px'"
      :height="'20px'"
      :left="'25%'"
      :top="'31%'"
      :after-width="'10.3px'"
      :after-height="'9px'"
      class="checkbox"
      :saved="saved"
      :editable="editable"
      @click="clickActivity({checked: $event, managesIndex, activityIndex})"
    />
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import AddSubCost from "../AddSubCost";
import Checkbox from "../../../../inputs/Checkbox";
import Comment from "./costAndComment/Comment";
import Cost from "./costAndComment/Cost";

export default {
  components: {
    AddSubCost,
    Checkbox,
    Comment,
    Cost
  },
  props: {
    activity: {},
    managesIndex: {},
    activityIndex: {},
    editable: {
      default: false
    },
    showCross: {
      default: false
    },
    saved: {
      default: false
    },
    showComment: {
      default: false
    },
    disableComment: {
      default: false
    },
  },
  methods: {
    ...mapMutations({
      clickActivity: 'planning/clickActivity',
    }),
  }
}
</script>

<style scoped lang="scss">

.wrap {
  display: flex;
  align-items: center;
  margin-right: 21px;

  &-saved {
    margin-right: 16px;
    justify-content: flex-end;
  }
}
</style>
