<template>
  <transition name="slide">
    <div class="activity" :class="{ 'activity-checked': activity.checked }">
      <div class="activity__name">{{ activity.name }}</div>
      <CostAndComment
        :activity="activity"
        :manages-index="managesIndex"
        :activity-index="activityIndex"
        :show-cross="!editable"
        :saved="true"
        :show-comment="activity.comment"
        :disable-comment="!editable"
        :editable="editable"
      />
    </div>
  </transition>
</template>

<script>
import SavedMixin from "../SavedMixin";
import { mapMutations } from "vuex";
import AddSubCost from "../../AddSubCost";
import CostAndComment from "../../activities/CostAndComment";

export default {
  mixins: [
    SavedMixin
  ],
  components: {
    CostAndComment,
    AddSubCost,
  },
  props: {
    activity: {},
    activityIndex: {}
  },
  computed: {},
  methods: {
    ...mapMutations({
      saveComment: 'planning/saveComment',
      clickActivity: 'planning/clickActivity',
    }),
    updateComment(managesIndex, activityIndex, event) {
      this.saveComment({ value: event.target.value, managesIndex, activityIndex })
    }
  }
}

</script>

<style scoped lang="scss">
.slide-enter, .slide-leave-to {
  transform: scaleY(0);
}

.activity {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.0015em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 20px;
  margin-bottom: 2px;
  margin-left: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 22px;

  &-checked {
    color: white;
  }

  &__name {
    max-width: 415px;
  }
}

</style>
