<template>
  <div class="navbar__user">
    <div class="navbar__name">
      {{ loggedInUser.name }}
    </div>
    <div @click="logout" class="logout__button">
      <i class="logout__icon"/>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  props: {},
  components: {},
  mixins: [],
  data() {
    return {}
  },
  computed: {
    ...mapGetters([
      'loggedInUser',
    ]),
  },
  watch: {},
  methods: {
    async logout() {
      await this.$auth.logout();
      await this.$router.push('/')
    },
  }
}
</script>

<style scoped lang="scss">
.navbar {
  &__user {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 6px;
    cursor: pointer;
    padding-right: 40px;
  }

  &__name {
    width: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #AF27EF;
    margin-right: 23px;
  }
}

.logout {
  &__button {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #39115A;
    border-radius: 10px;

    &:hover {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);

      .logout__icon {
        &:after {
          background-image: url(/icons/logout_white.svg) !important;
        }
      }
    }

    &:active {
      .logout__icon {
        &:after {
          background-image: url(/icons/logout_light_grey.svg) !important;
        }
      }
    }
  }

  &__icon {
    &:after {
      display: inline-block;
      content: " ";
      background-image: url(/icons/logout_dark_grey.svg);
      background-size: 24px 24px;
      height: 24px;
      width: 24px;
      position: relative;
      left: 2px;
      vertical-align: middle;
    }
  }
}
</style>
