<template>
  <div class="list">
    <div class="relevance">
      <div class="relevance__text">
        Актуальность
      </div>
    </div>
    <ListRow :student="student" :index="index" v-for="(student, index) in students"/>
  </div>
</template>

<script>
import ListRow from "./list/ListRow";

export default {
  components: {
    ListRow
  },
  props: [
    'students'
  ],
}
</script>

<style scoped lang="scss">

.relevance {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.0015em;
  width: auto;
  color: rgba(255, 255, 255, 0.4);
  line-height: 1;
  position: relative;
  display: flex;
  justify-content: flex-end;

  &__text {
    text-align: end;
    margin-right: -17px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
</style>
