<template>
  <v-icon @click="click" aria-hidden="false" :class="type">
    mdi-{{ type }}
  </v-icon>
</template>

<script>
export default {
  props: {
    index: {},
    type: {
      type: String,
      default: 'chevron-up'
    }
  },
  components: {},
  data() {
    return {}
  },
  methods: {
    click() {
      this.$emit('click')
    },
  }
}
</script>

<style scoped lang="scss">
.chevron-down {
  order: 6;
  color: white;
  align-self: center;
  cursor: pointer;
  font-size: 20px;
}

.chevron-up {
  order: 6;
  color: rgba(255, 255, 255, 0.4);
  align-self: center;
  cursor: pointer;
  font-size: 20px;
}
</style>
