<template>
  <div class="body">
    <div class="text" :style="{color: color}">
      {{ text }}
    </div>
    <div class="cost">
      {{ cost }}
    </div>
    <img class="icon" src="/icons/filled.svg" alt="filled"/>
  </div>
</template>

<script>
export default {
  props: [
    'text',
    'cost',
    'color'
  ],
  data() {
    return {}
  }
}
</script>

<style scoped>
.body {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #121448;
  border-radius: 10px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 20px 0 10px 1.5px;
  padding: 4.5px 10px 5px 12px;
}

.text {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 117% */

  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  /* emerald / 100 */

  color: #E9296D;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 7px 0 0;
}

.cost {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.005em;
  text-transform: uppercase;

  /* white/100 */

  color: #FFFFFF;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 2px 0;
}

.icon {
  width: 14px;
  margin-left: 1px;
}
</style>
