<template>
  <div
    class="comment"
    :class="{
      'comment-saved': saved,
      'comment-editable': (saved && editable),
      'comment-not-saved-editable': (!saved && editable),
      'comment-not-saved-not-editable': (!saved && !editable)
  }"
  >
    <label class="comment__label">
      <div class="comment__background">
        <input
          :value="activity.comment"
          @input="saveComment({value: $event.target.value, managesIndex, activityIndex})"
          @focus="setPenFocus()"
          @focusout="setPen()"
          class="comment__input"
          :style="{
            backgroundImage: !activity.comment ?
            placeholderImage
            :
            ''
          }"
          type="text"
          placeholder="Оставить комментарий..."
          :disabled="disabled"
        />
      </div>
    </label>
  </div>
</template>

<script>
import {mapMutations} from 'vuex';


export default {
  props: {
    managesIndex: {},
    activityIndex: {},
    activity: {},
    disabled: {
      default: false
    },
    saved: {
      default: false
    },
    editable: {
      default: false
    },
  },
  data() {
    return {
      placeholderImage: 'url(/icons/pen.svg)'
    }
  },
  methods: {
    ...mapMutations({
      saveComment: 'planning/saveComment',
    }),
    setPen() {
      this.placeholderImage = 'url(/icons/pen.svg)';
    },
    setPenFocus() {
      this.placeholderImage = 'url(/icons/pen_focus.svg)';
    }
  }
}
</script>

<style scoped lang="scss">
.comment {
  margin-right: 190px;

  &__label {
    position: relative;
  }

  &__background {
    width: 400px;
    height: 28px;
    background: #1F156E no-repeat 0 center;
    border-radius: 10px;
    margin: 0 10px;
    display: flex;
  }

  &__input {
    background-position-y: center;
    background-position-x: 15px;
    width: 400px;
    padding: 0 14px 0;
    letter-spacing: 0.0015em;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    &::placeholder {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.0015em;
      color: #3F46FB;
      flex: none;
      order: 1;
      flex-grow: 0;
      margin: 0 4px;
      padding-left: 17px;
    }

    &:hover {
      filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.4));
    }

    &:focus {
      &::placeholder {
        color: rgba(175, 39, 239, 0.8);
      }
    }

    &:disabled {
      &::placeholder {
        color: rgba(255, 255, 255, 0.15);
      }
    }
  }

  &-saved {
    margin-right: 190px;
  }

  &-not-saved {
    &-editable {
      margin-right: 86px;
    }

    &-not-editable {
      margin-right: 160px;
    }
  }

  &-editable {
    margin-right: 80px;
  }
}
</style>
