<template>
  <div class="cost__wrap" :class="{'cost__wrap-edit': showCross}">
    <NotConverted :medal-level="activity.medal_level" :not-converted-cost="activity.value"/>
    <div class="cost">
      {{ convertValue }}
    </div>
    <img class="cost-img" src="/icons/filled.svg" alt="image"/>
    <div v-if="showCross" class="cost__cross">
      <img class="cross" src="/icons/cross.svg" alt="cross"/>
      <div class="cost__count">
        {{ activity.count + (activity.constant_count ? activity.constant_count : 0) }}
      </div>
    </div>
  </div>
</template>

<script>
import NotConverted from "./cost/NotConverted";
import CostConvertMixin from "./CostConvertMixin";

export default {
  components: {
    NotConverted
  },
  mixins: [
    CostConvertMixin
  ],
  props: {
    activity: {},
    editable: {
      default: false
    },
    showCross: {
      default: false
    }
  },
}
</script>

<style scoped lang="scss">
.cost {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 23px;
  margin-right: 2px;

  &__wrap {
    display: flex;
    align-items: center;

    &-checked {
      width: 601px;
    }

    &-editable {
      width: 718px;
      margin-right: 24px;
    }
  }

  &__cross {
    color: rgba(255, 255, 255, 0.4);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 23px;
    margin-left: 7px;
    display: flex;
  }

  &__count {
    margin-left: 8px;
  }

  &__img {
    margin-left: 2px;
    margin-top: -3px;
  }
}

.cross {
  width: 8px;
}
</style>
