<template>
  <section>
    <div class="wrap" v-for="(manageReference, managesIndex) in manageReferences">
      <ManageReferencesRow
        :manage-reference="manageReference"
        :index="managesIndex"
        :editable="editables[managesIndex]"
        @edit-category="editCategory"
      />
      <ManageReferenceActivities
        :manage-reference="manageReference"
        :manages-index="managesIndex"
      />
      <ListEdit
        :manages-index="managesIndex"
        :manage-reference="manageReference"
        :editable="editables[managesIndex]"
      />
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex';
import Vue from "vue";
import ManageReferencesRow from "./manageReference/ManageReferencesRow";
import ManageReferenceActivities from "./manageReference/ManageReferenceActivities";
import ListEdit from "./manageReference/ListEdit";


export default {
  components: {
    ListEdit,
    ManageReferencesRow,
    ManageReferenceActivities
  },
  data() {
    return {
      editables: {}
    }
  },
  computed: {
    ...mapGetters({
      manageReferences: 'planning/manageReferences'
    }),
  },
  created() {
    this.$root.$on('activities-saved', async (index) => {
      this.editables[index] = false
    })
  },
  methods: {
    editCategory(obj) {
      Vue.set(this.editables, obj.index, obj.value)
    },
  }
}
</script>

<style scoped lang="scss">
.wrap {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  &:first-child {
    margin-top: 29px;
  }
}
</style>
