<template>
  <section>
    <div class="wrap" v-for="(manageReference, index) in manageReferences">
      <ManageReferencesRow
        :manage-reference="manageReference"
        :index="index"
        :editable="false"
        :is-old="true"
      />
      <transition name="slide">
        <OldManageReferencesRow :manage-reference="manageReference" :index="index"/>
      </transition>
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex';
import ManageReferencesRow from "./manageReference/ManageReferencesRow";
import OldManageReferencesRow from "./oldManageReference/OldManageReferencesRow";

export default {
  components: {
    ManageReferencesRow,
    OldManageReferencesRow
  },
  data() {
    return {
      imagePen: '/icons/pen.svg',
    }
  },
  computed: {
    ...mapGetters({
      manageReferences: 'planning/manageReferences',
    }),
  },
  methods: {
  }
}
</script>

<style scoped lang="scss">
.slide-enter, .slide-leave-to {
  transform: scaleY(0);
}

.wrap {
  display: flex;
  flex-direction: column;
  margin-top: 12px;

  &:first-child {
    margin-top: 29px;
  }
}
</style>
