<template>
  <div class="tabs">
    <div class="tabs-dashes">
    </div>
    <div
      v-for="(year, index) in years"
      class="tab"
      :class="{
        'tab-selected': year.selected,
        'tab-old': !!year.old,
        'tab-current': !!year.current
      }"
      @click="setTabSelected(index)"
    >
      {{ year.years_start + ' - ' + year.years_end }}
      <div class="tab-dot"></div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";

export default {
  data() {
    return {}
  },
  computed: {
    ...mapGetters({
      manageReferences: 'planning/manageReferences',
    }),
    ...mapGetters({
      years: 'years/years',
      getSelectedYear: 'years/getSelectedYear',
      getCurrentYear: 'years/getCurrentYear'
    }),
  },
  methods: {
    ...mapMutations({
      setTabSelectedFunc: 'years/setTabSelected',
      setManageReferences: 'planning/setManageReferences',
    }),
    setTabSelected(index) {
      this.setManageReferences([]);
      this.setTabSelectedFunc(index);
      this.$forceUpdate()
      this.$root.$emit('year-selected', this.years[index].years_start)
    }
  }
}
</script>

<style scoped lang="scss">
.tabs {
  z-index: 0;
  display: flex;
  margin-top: 19px;
  justify-content: space-between;
  position: relative;

  &-dashes {
    border-bottom: 2px dashed rgba(255, 255, 255, 0.1);
    position: absolute;
    width: 100%;
    height: 55%;
  }
}

.tab {
  z-index: 1;
  background: #342A8B;
  border-radius: 10px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0;
  padding: 9px 18px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  position: relative;

  &-old {
    color: rgba(255, 255, 255, 0.4);
  }

  &-selected {
    color: #FFFFFF;
    background: #3F46FB;
  }

  &-current {
    .tab-dot {
      position: absolute;
      width: 8px;
      height: 8px;
      left: 54px;
      top: 45px;
      background: #3F46FB;
      border-radius: 30px;
    }
  }
}

</style>
