.input {
  background-color: #121448 !important;
  border: 2px solid #AF27EF;
  box-sizing: border-box;
  border-radius: 10px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  width: 320px;
  height: 48px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;

  &:hover::before,
  &:hover::after {
    transform: scale3d(1, 1, 1); // Show full-size
    transition: transform 0.5s;
  }

  &:-internal-autofill-selected {
    -webkit-appearance: menulist-button;
    background-color: #121448 !important;
    background-image: none !important;
    color: white !important;
  }

  &:hover {
    filter: drop-shadow(0px 0px 10px #AF27EF);
  }

  &:focus {
    filter: drop-shadow(0px 0px 5px #AE3EEF);
  }

  &-filled {
    border: 0;

    &:hover {
      filter: drop-shadow(0px 0px 0px #AF27EF);
    }

    &:focus {
      border: 2px solid #AF27EF;
      filter: drop-shadow(0px 0px 5px #AE3EEF);
      box-sizing: border-box;
      border-radius: 10px;
    }
  }

  -webkit-transition: filter 0.2s linear;
  -moz-transition: filter 0.2s linear;
  -o-transition: filter 0.2s linear;
  transition: filter 0.2s linear;

  &__error {
    border: 2px solid #39115A;
  }
}

.errors {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #F65050;
  align-items: flex-start;
  padding-top: 12px;

  .error-text {

  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
  outline: none;
}

select:focus, input:focus, textarea:focus {
  outline: none;
}
