<template>
  <div class="add-cost">
    <div class="minus" @click="subActivityCount({managesIndex, activityIndex})">
      <img v-if="(activity.count + (activity.constant_count ? activity.constant_count : 0) <= 1) " src="/icons/minus.svg" alt="image"/>
      <img v-else src="/icons/minus_white.svg" alt="image"/>
    </div>
    <div class="add-cost-count">
      {{ activity.count + (activity.constant_count ? activity.constant_count : 0) }}
    </div>
    <div class="plus" @click="addActivityCount({managesIndex, activityIndex})">
      <img src="/icons/plus.svg" alt="image"/>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";

export default {
  props: {
    managesIndex: {},
    activityIndex: {},
    activity: {}
  },
  data() {
    return {}
  },
  computed: {
    ...mapGetters('planning', []),
  },
  methods: {
    ...mapMutations({
      subActivityCostCount: 'planning/subActivityCostCount',
      addActivityCostCount: 'planning/addActivityCostCount',
    }),
    subActivityCount({ managesIndex, activityIndex }) {
      this.subActivityCostCount({ managesIndex, activityIndex })
    },
    addActivityCount({ managesIndex, activityIndex }) {
      this.addActivityCostCount({ managesIndex, activityIndex })
    }
  }
}
</script>

<style scoped lang="scss">
.add-cost {
  width: 84px;
  height: 28px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}

.minus {
  width: 28px;
  height: 28px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.plus {
  width: 28px;
  height: 28px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
</style>
