<template>
  <transition name="slide">
    <div>
      <Saved :editable="editable" :manage-reference="manageReference" :manages-index="managesIndex"/>
      <NotSaved :editable="editable" :category="manageReference" :manages-index="managesIndex"/>
    </div>
  </transition>
</template>

<script>
import Saved from "./listEdit/Saved";
import NotSaved from "./listEdit/NotSaved";

export default {
  components: {
    Saved,
    NotSaved
  },
  props: {
    manageReference: {},
    managesIndex: {},
    editable: {
      default: false
    },
  },
}
</script>

