<template>
  <div class="row-wrap">
    <div class="manage-reference" :style="{'color': manageReference.color}">
      <div @click="editIsOpen = !editIsOpen" class="border" :style="{'background-color': manageReference.color}">
      </div>
      <div @click="editIsOpen = !editIsOpen" class="text">
        {{ manageReference.name_rus }}
      </div>
      <div class="chevron-and-count">
        <div @click="editIsOpen = !editIsOpen" class="filled">
          {{ activitiesCheckedSum(index) }}
          <img class="filled-img" src="/icons/filled-planned.svg" alt="image"/>
        </div>
        <div class="open-anchor">
          <Chevron
            :index="index"
            :type="chevronDown() || isOld?'chevron-down':'chevron-up'"
            @click="showHideContentFunc(index)"
          />
        </div>
      </div>
    </div>
    <img
      v-if="editIsOpen && hasAnyActivitySaved(index) && !editable && !isOld"
      @click="editCategory(index)"
      class="pen"
      src="/icons/pen-white.svg"
      alt="edit"
    />
  </div>
</template>

<script>
import {mapActions, mapGetters, mapMutations} from "vuex";
import Chevron from "../../../home/list/row/tags/Chevron";

export default {
  props: {
    manageReference: {},
    index: {},
    editable: {},
    isOld: {
      default: false
    },
  },
  components: {
    Chevron,
  },
  data() {
    return {
      editIsOpen: false
    }
  },
  computed: {
    ...mapGetters('planning', [
      'activitiesCheckedSum',
      'hasAnyActivitySaved',
      'manageReferences'
    ]),
  },
  created() {
    this.$root.$on('activities-saved', async (index) => {
      this.editIsOpen = false
      this.showHideSaved({index: -1, value: false})
    })
  },
  methods: {
    ...mapActions({
      showHideContent: 'planning/showHideContent',
      showHideSaved: 'planning/showHideSaved',
    }),
    editCategory(index) {
      this.$emit('edit-category', {index, value: true})
      this.showHideSaved({index, value: true})
    },
    showHideContentFunc(index) {
      if (this.hasAnyActivitySaved(index) && !this.isOld) {
        this.showHideSaved({index, value: !!this.chevronDown()})
        this.$emit('edit-category', {index, value: false})

        if (!!this.chevronDown() && this.editable === true) {
          this.editIsOpen = false
        }
      } else {
        this.showHideContent({index, value: !!this.chevronDown()})
      }
    },
    chevronDown() {
      return (!this.manageReference.contentShow && !this.manageReference.savedShow)
    }
  }
}
</script>

<style scoped lang="scss">
.manage-reference {
  background: #342A8B;
  border-radius: 10px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  height: 39px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0;
  overflow: hidden;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  position: relative;
  justify-content: space-between;
}

.row-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.pen {
  position: absolute;
  right: -41px;
  cursor: pointer;
}

.border {
  width: 8px;
  height: 37px;
  position: absolute;
  cursor: pointer;
}

.text {
  margin-left: 20px;
  width: 91%;
  height: inherit;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.chevron-and-count {
  display: flex;
  height: inherit;
  align-items: center;
}

.filled {
  width: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  margin: 0 2px;
  height: inherit;
  align-items: center;
  cursor: pointer;

  &-img {
    vertical-align: middle;
    margin-left: 2px;
    cursor: pointer;
  }
}

.open-anchor {
  margin-left: 16px;
  margin-right: 24px;
}

.chevron-down {
  font-size: 17px;
}

.chevron-up {
  font-size: 17px;
}
</style>
