<template>
  <transition name="slide">
    <div v-if="manageReference.contentShow" class="list">
      <div
        v-for="(activity, activityIndex) in manageReference.activities"
        class="activity"
        :class="{ 'activity-checked': activity.checked }"
      >
        <div class="activity__name">{{ activity.name }}</div>
        <CostAndComment
          :activity="activity"
          :manages-index="managesIndex"
          :activity-index="activityIndex"
          :editable="false"
          :show-comment="activity.checked"
        />
      </div>
      <SaveButton @click="saveItems(managesIndex)" :manages-index="managesIndex"/>
    </div>
  </transition>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import CostAndComment from "./activities/CostAndComment";
import SaveButton from "../../../inputs/SaveButton";

export default {
  props: {
    manageReference: {},
    managesIndex: {}
  },
  components: {
    SaveButton,
    CostAndComment
  },
  computed: {
    ...mapGetters({
      getSelectedYear: 'years/getSelectedYear'
    })
  },
  methods: {
    ...mapActions({
      saveActivityCategoryForStudent: 'planning/saveActivityCategoryForStudent',
    }),
    async saveItems(managesIndex) {
      await this.saveActivityCategoryForStudent({
        managesIndex,
        id: this.$route.params.id,
        yearsStart: this.getSelectedYear.id
      });
    },
  }
}
</script>

<style scoped lang="scss">
.slide-enter, .slide-leave-to {
  transform: scaleY(0);
}

.list {
  display: flex;
  flex-direction: column;
  background: #271C84;
  margin-left: 5px;
  box-shadow: inset 0 2px 10px rgba(9, 11, 60, 0.4);
  border-radius: 0 0 10px 10px;
  transform-origin: top;
  transition: transform .4s ease-in-out;
}

.activity {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.0015em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 20px;
  margin-bottom: 2px;
  margin-left: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 22px;

  &-checked {
    color: white;
    font-weight: bold;
  }

  &__name {

  }
}
</style>
