<template>
  <div class="student-row">
    <div class="left">
      <div class="student-info">
        <div class="student-info__left" @click="goToPlanning">
          <Avatar :student="student"/>
          <div class="faculty">
            {{ student.faculty ? student.faculty : '7 / Физико-математическое' }}
          </div>
          <Earned :student="student"/>
        </div>
        <Chevron
          :index="index"
          :type="isOpen?'chevron-up':'chevron-down'"
          :style="{marginLeft: '10px', alignSelf: 'end'}"
          @click="openTags(index)"
        />
      </div>
      <Tags v-if="isOpen" :index="index" :tags="student.manages"/>
    </div>
    <div class="right">
      {{ student.relevance ? student.relevance : '14.12.2020' }}
    </div>
  </div>
</template>

<script>
import Avatar from "./row/Avatar";
import Chevron from "./row/tags/Chevron";
import Earned from "./row/Earned";
import Tags from "./row/Tags";

export default {
  props: {
    student: {},
    index: {},
  },
  components: {
    Avatar,
    Chevron,
    Earned,
    Tags
  },
  data() {
    return {
      prevIndex: undefined,
      isOpen: false,
    }
  },
  created() {
    this.$root.$on('row-open', (index) => {
      if (index !== this.index) {
        this.isOpen = false
      }
    })
  },
  methods: {
    openTags(index) {
      this.isOpen = !this.isOpen
      this.$root.$emit('row-open', index)
    },
    goToPlanning() {
      this.$router.push({ path: '/planning/' + this.student.id })
    }
  }
}
</script>

<style scoped lang="scss">
.student-row {
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  cursor: pointer;

  &:nth-child(2) {
    margin-top: 30px;
  }
}

.student-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  &__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7.5px 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 4;
  min-height: 67px;
  width: auto;
}

.right {
  width: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.0015em;
  color: rgba(255, 255, 255, 0.4);
  padding-left: 9px;
  padding-top: 23px;
}

.faculty {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;

  letter-spacing: 0.0015em;
  color: rgba(255, 255, 255, 0.4);

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 4px 0;
}
</style>
