<template>
  <v-app :style="{background: background}" id="app">
    <Navbar/>
    <v-main class="main-login" v-bind:class="{'crossFade': ifPageIsLogin()}">
      <v-container :fluid="true">
        <nuxt/>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
import Navbar from "../components/layouts/Navbar";

export default {
  components: {
    Navbar
  },
  data() {
    return {}
  },
  computed: {
    ...mapGetters([
      'background',
    ]),
  },
  created() {
    this.ifPageIsLogin()
  },
  methods: {
    ifPageIsLogin() {
      return this.$route.path === '/'
    },
  }
}
</script>

<style lang="scss" scoped>
.v-application {
  font-family: Lato, sans-serif !important;
}

.main-login {
  background-size: cover;
}

.crossFade {
  background: url(/images/background.jpg) center 0px / cover no-repeat !important;
  animation: fading 7s;
  -webkit-animation: fading 7s;
}

@keyframes fading {
  0% {
    background: url(/images/compressedBackground.jpg) center 0px / cover no-repeat;
  }
  100% {
    background: url(/images/background.jpg) center 0px / cover no-repeat;
  }
}
</style>
