<template>
  <div v-if="editable" class="list" :class="{'list-editable': editable}">
    <div
      v-if="!activity.saved"
      v-for="(activity, activityIndex) in category.activities"
      class="activity"
      :class="{ 'activity-checked': activity.checked }"
    >
      <div>{{ activity.name }}</div>
      <CostAndComment
        :activity="activity"
        :manages-index="managesIndex"
        :activity-index="activityIndex"
        :show-cross="!editable"
        :saved="false"
        :show-comment="activity.checked && editable"
        :editable="editable"
        style="margin-right: 16px;"
      />
    </div>
    <SaveButton @click="saveItems(managesIndex)" :manages-index="managesIndex"/>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';
import SavedMixin from "./SavedMixin";
import AddSubCost from "../AddSubCost";
import CostAndComment from "../activities/CostAndComment";
import SaveButton from "../../../../inputs/SaveButton";

export default {
  mixins: [
    SavedMixin
  ],
  components: {
    SaveButton,
    AddSubCost,
    CostAndComment
  },
  data() {
    return {}
  },
  computed: {
    ...mapGetters({
      anyActivitiesChecked: 'planning/anyActivitiesChecked'
    }),
    ...mapGetters({
      getSelectedYear: 'years/getSelectedYear'
    }),
  },
  methods: {
    ...mapActions({
      saveActivityCategoryForStudent: 'planning/saveActivityCategoryForStudent',
      getGraphsRequest: 'graphs/getGraphsRequest',
    }),
    ...mapMutations({
      clickActivity: 'planning/clickActivity',
    }),
    async saveItems(managesIndex) {
      await this.saveActivityCategoryForStudent({
        managesIndex,
        id: this.$route.params.id,
        yearsStart: this.getSelectedYear.id
      });
      this.$root.$emit('activities-saved', this.managesIndex)
    },
  }
}
</script>

<style scoped lang="scss">
.list {
  display: flex;
  flex-direction: column;
  transform-origin: top;
  transition: transform .4s ease-in-out;
  padding-bottom: 21px;

  &-not-editable {
    background: #271C84;
    margin-left: 6px;
  }

  &-editable {
    box-shadow: inset 0 -1px 10px rgba(9, 11, 60, 0.4);

    .checkbox {
      margin-left: 15px;
    }
  }
}

.activity {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.0015em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 19px;
  margin-bottom: 3px;
  margin-left: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 22px;

  &-checked {
    color: white;
  }
}

.button {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 23px;
  color: white;
  padding: 0 0 20px;
  margin-top: 33px;

  &:disabled {
    color: rgba(255, 255, 255, 0.15);
  }
}
</style>
