<template>
  <div
    v-if="isShow()"
    class="list"
    :class="{'list-editable': editable, 'list-not-editable': !editable}"
  >
    <section v-if="activity.saved" v-for="(activity, activityIndex) in manageReference.activities">
      <Row :activity="activity" :activity-index="activityIndex" :editable="editable" :manages-index="managesIndex"/>
    </section>
  </div>
</template>

<script>
import {mapGetters} from 'vuex';
import Row from "./saved/Row";
import SavedMixin from "./SavedMixin";

export default {
  components: {
    Row
  },
  props: {
    manageReference: {},
    managesIndex: {},
    editable: {
      default: false
    },
  },
  computed: {
    ...mapGetters({
      hasAnyActivitySaved: 'planning/hasAnyActivitySaved',
    })
  },
  methods: {
    isShow() {
      return this.hasAnyActivitySaved(this.managesIndex) && (this.manageReference.savedShow)
    }
  }
}
</script>

<style scoped lang="scss">
.list {
  display: flex;
  flex-direction: column;
  transform-origin: top;
  transition: transform .4s ease-in-out;
  padding-bottom: 21px;
  box-shadow: inset 0 -1px 10px rgba(9, 11, 60, 0.4);

  &-not-editable {
    background: #271C84;
    margin-left: 6px;
    box-shadow: inset 0 -1px 10px rgba(9, 11, 60, 0.4);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 7px;
  }

  &-editable {
    .checkbox {
      margin-left: 15px;
    }
  }
}
</style>
