<template>
  <v-row justify="center" align="center">
    <v-col cols="12" class="pupils">
      <div class="pupils__title">
        Мои ученики
      </div>
      <List :students="students"/>
    </v-col>
  </v-row>
</template>

<script>
import List from "../components/home/List";
import { mapActions, mapGetters, mapMutations } from "vuex";

export default {
  middleware: 'auth',
  components: {
    List
  },
  data() {
    return {}
  },
  computed: {
    ...mapGetters({
      students: 'home/students'
    }),
    ...mapGetters([
      'background',
      'user',
    ]),
  },
  async created() {
    await this.getStudents({ id: this.user.id });
  },
  mounted() {
    this.setBackgroundImage(`linear-gradient(180deg, #1E0338 0%, #1D2181 100%)`)
    this.setHasPrevPage(false)
  },
  methods: {
    ...mapMutations({
      setBackgroundImage: 'setBackgroundImage',
      setHasPrevPage: 'setHasPrevPage',
    }),
    ...mapActions({
      getStudents: 'home/getStudents'
    }),
  }
}
</script>

<style scoped lang="scss">
.container {
  @media (min-width: 960px) {
    .container {
      max-width: 1100px !important;
    }
  }
}

.pupils {
  flex-direction: column;
  display: flex;
  padding: 10px 58px;

  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    float: left;
    margin-top: 93px;
  }
}
</style>
