<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6" class="login-block-wrap">
      <div class="login-block">
        <div class="login-block__title">
          Вход
        </div>

        <LoginInput
          style="margin-top: 47px;"
          v-bind:value="username"
          v-on:input="username = $event"
        />

        <PasswordInput
          style="margin-top: 32px;"
          v-bind:value="password"
          v-on:input="password = $event"
        />

        <Checkbox
          class="checkbox__label"
          @click="updateRememberMeStatus"
          :text="'Запомнить меня'"
        />

        <LoginButton
          :active="username && password"
          :disabled="!username && !password"
          :on-loading="onLoading"
          @click="login"
        />

        <a
          href="#"
          class="login__forgot-password"
        >
        </a>

        <div class="login__conditions">
          Авторизуясь вы соглашаетесь с
          <a href="#">условиями использования</a>
          и
          <a href="#">политикой конфиденциальности</a>
        </div>
      </div>
    </v-col>
  </v-row>
</template>

<script>
import Checkbox from "@/components/inputs/Checkbox";
import { mapActions, mapMutations } from "vuex";
import LoginInput from "@/components/inputs/LoginInput";
import PasswordInput from "@/components/inputs/PasswordInput";
import LoginButton from "../components/inputs/LoginButton";

export default {
  middleware: 'guest',
  components: {
    Checkbox,
    LoginInput,
    PasswordInput,
    LoginButton
  },
  data() {
    return {
      username: '',
      password: '',
      rememberMe: false,
      onLoading: false
    }
  },
  created() {
    this.setBackgroundImage(`url(/images/compressedBackground.jpg) center 0px / cover no-repeat`)
  },
  methods: {
    ...mapActions({
      loginFunc: 'login'
    }),
    ...mapMutations({
      setBackgroundImage: 'setBackgroundImage'
    }),
    async login() {
      this.onLoading = true
      try {
        await this.loginFunc({ username: this.username, password: this.password });
      } catch (e) {
        console.log('e', e)
      }
      this.onLoading = false
    },
    updateRememberMeStatus(e) {
      this.rememberMe = e
    },
  }
}
</script>

<style scoped lang="scss">
.checkbox {
  &__label {
    margin-left: -4px;
    margin-top: 26px;
    margin-bottom: 5px;
  }
}

.login {
  &__button {
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 12px 32px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    width: 320px;
    margin-top: 17px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.005em;

    &-active {
      background: #AF27EF;
      color: white;

      &:hover {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
      }

      &:active {
        background: rgba(175, 39, 239, 0.8);
      }
    }
  }

  &__forgot-password {
    text-decoration: none;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    letter-spacing: 0.005em;

    /* white/100 */

    color: #FFFFFF;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 17px auto;
  }

  &-block {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-top: 32px;
    width: fit-content;

    &-wrap {
      height: auto;
      margin-top: 39px;
      max-width: 449px;
      padding: 0 0 40px;

      background: rgba(255, 255, 255, 0.1);
      box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(20px);
      border-radius: 10px;
    }

    &__title {
      font-style: normal;
      font-weight: 800;
      font-size: 22px;
      line-height: 33px;
      letter-spacing: 0.02em;
      color: #FFFFFF;
      flex: none;
      order: 0;
      flex-grow: 0;
    }
  }

  &__conditions {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.005em;
    color: rgba(255, 255, 255, 0.4);
    width: 349px;
    margin-top: 8px;

    a {
      text-decoration: underline;
      color: #A05856;
    }
  }
}
</style>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.container {
  font-family: 'Lato', sans-serif;
}
</style>
