<script>
export default {
  props: {
    notConvertedCost: {
      required: true
    },
    medalLevel: {
      required: true
    }
  },
  methods: {
    renderNotConvertedCostIcon(value) {
      switch (value) {
        case 'Серебряные':
          return <img class="cost-img" src="/icons/filled_silver.svg" alt="image"/>
        case 'Золотые':
          return <img class="cost-img" src="/icons/filled_gold.svg" alt="image"/>
      }
    }
  },
  render: function (h) {
    if (this.medalLevel !== 'Бронзовые') {
      return (
        <div class="not-converted-cost__wrap">
          <div class="cost">{this.notConvertedCost}</div>
          {this.renderNotConvertedCostIcon(this.medalLevel)}
          <img class="refresh" src="/icons/refresh.svg" alt="refresh"/>
        </div>
      )
    }
  }
}
</script>

<style scoped lang="scss">
.cost {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 23px;
  margin-right: 2px;

  &__img {
    margin-left: 2px;
    margin-top: -3px;
  }
}

.not-converted-cost {
  &__wrap {
    display: flex;
    align-items: center;
  }
}

.refresh {
  width: 15px;
  margin-right: 10px;
  margin-left: 8px;
}

.cross {
  width: 8px;
}
</style>
