<template>
  <div class="back-button" @click="goBack">
    <v-icon aria-hidden="false" class="chevron-left">mdi-chevron-left</v-icon>
    <div>Назад</div>
  </div>
</template>

<script>
import ProfileBlock from "~/components/layouts/navbar/ProfileBlock";

export default {
  components: {
    ProfileBlock
  },
  props: [],
  data() {
    return {
      clipped: false,
    }
  },
  methods: {
    goBack() {
      this.$router.push('/home');
    },
  }
}
</script>

<style scoped lang="scss">
.back-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: #FFA300;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
  height: 50px;
  margin: 5px 0 4px 49px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.4));
  }

  &:active {
    opacity: 0.8;
  }
}

.chevron-left {
  color: #FFA300;
  width: 9px;
  height: 16px
}
</style>
