<template>
  <label
    class="checkbox__label"
    :class="{'checkbox__label-edit-not-save': !saved && editable && !checked}"
  >
    <input
      v-model="checked"
      class="checkbox__input"
      type="checkbox"
      @click="click"
    />
    <span
      :style="{
      'width': width,
      'height': height,
      '--left': left,
      '--top': top,
      '--width': afterWidth,
      '--height': afterHeight,
    }"
      class="checkbox__checkmark"
      :class="{'checkbox__checkmark-unchecked': !checked}"
    ></span>
    <div style="line-height: 1.2;" v-if="text">{{ text }}</div>
  </label>
</template>

<script>
export default {
  props: {
    text: {
      default: ''
    },
    width: {
      default: '16px'
    },
    height: {
      default: '16px'
    },
    left: {
      default: '24%'
    },
    top: {
      default: '28%'
    },
    afterWidth: {
      default: '8.3px'
    },
    afterHeight: {
      default: '7px'
    },
    initChecked: {
      default: false
    },
    saved: {
      default: false
    },
    editable: {
      default: false
    },
  },
  data() {
    return {
      checked: false
    }
  },
  mounted() {
    this.checked = this.initChecked
    this.$emit('click', this.checked)
  },
  methods: {
    click() {
      this.$emit('click', !this.checked)
    }
  }
}
</script>

<style scoped lang="scss">
.checkbox {
  &__label {
    margin-bottom: 0;
    height: 21px;
    margin-left: 11px;
    display: block;
    position: relative;
    padding-left: 27px;
    margin-top: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0015em;
    color: rgba(255, 255, 255, 0.4);

    &:hover {
      color: rgba(255, 255, 255, 0.6);

      .checkbox__checkmark {
        background-color: #AF27EF !important;
      }

      .checkbox__checkmark-unchecked {
        border: 1px solid rgba(255, 255, 255, 0.6);
        background-color: transparent !important;
      }
    }

    &-edit-not-save {
      margin-left: 17px;
    }
  }

  &__checkmark {
    position: absolute;
    top: 0;
    left: 3px;
    height: 16px;
    width: 16px;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 4px;

    &-unchecked {
      border: 1px solid rgba(255, 255, 255, 0.4);
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

.checkbox__label:hover input ~ .checkbox__checkmark {
  background-color: transparent;
}

.checkbox__label:hover input ~ .checkbox__checkmark {
  background-color: rgba(255, 255, 255, 0.1);
}

.checkbox__label input:checked ~ .checkbox__checkmark {
  background: rgba(175, 39, 239, 0.8);
}

.checkbox__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox__label input:checked ~ .checkbox__checkmark:after {
  display: block;
}

.checkbox__label .checkbox__checkmark:after {
  left: var(--left);
  top: var(--top);
  width: var(--width);
  height: var(--height);
  background: url(/icons/checkbox_arrow.svg) center 0px / cover no-repeat;
}
</style>
