<template>
  <form @submit.prevent="">
    <Input
      class="input"
      :class="{'input-filled': value, 'input__error': this.errors.length}"
      type="email"
      placeholder="Логин"
      v-bind:value="value"
      v-on:input="$emit('input', $event.target.value)"
      autocomplete="off"
    />
    <div v-if="this.errors.length" class="errors">
      <div v-for="error in this.errors" class="error-text">
        {{ error }}
      </div>
    </div>
  </form>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  props: {
    value: {},
  },
  components: {},
  mixins: [],
  data() {
    return {
      errors: []
    }
  },
  computed: {
    ...mapGetters([
      'validationErrors',
    ]),
  },
  watch: {
    validationErrors(data) {
      if (data['username']) {
        this.errors = data['username'];
      }
    }
  },
  methods: {}
}
</script>
