<template>
  <button
    @click="() => $emit('click')"
    class="login__button"
    :class="{'login__button-active': active}"
    :disabled="disabled"
  >
    <v-progress-circular
      v-if="onLoading"
      :size="23"
      indeterminate
      color="white"
    >
    </v-progress-circular>
    <span v-else>
      Войти
    </span>
  </button>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  props: {
    disabled: {
      default: false
    },
    active: {
      default: false
    },
    onLoading: {
      default: false
    },
  },
  components: {},
  mixins: [],
  data() {
    return {
      errors: []
    }
  },
  computed: {
    ...mapGetters([
      'validationErrors',
    ]),
  },
  watch: {
    validationErrors(data) {
      if (data['username']) {
        this.errors = data['username'];
      }
    }
  },
  methods: {}
}
</script>
