<template>
  <form @submit.prevent="">
    <input
      class="input"
      :class="{'input-filled': value, 'input__error': this.errors.length}"
      :type="showPassword?'text': 'password'"
      placeholder="Пароль"
      v-bind:value="value"
      v-on:input="$emit('input', $event.target.value)"
      autocomplete="off"
    />
    <i
      class="password__eye"
      :class="{'password__eye-opened': showPassword}"
      @click="showPassword = !showPassword"
    >
    </i>
    <div v-if="this.errors.length" class="errors">
      <div v-for="error in this.errors" class="error-text">
        {{ error }}
      </div>
    </div>
  </form>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  props: {
    value: {},
  },
  components: {},
  mixins: [],
  data() {
    return {
      errors: [],
      showPassword: false
    }
  },
  computed: {
    ...mapGetters([
      'validationErrors',
    ]),
  },
  watch: {
    validationErrors(data) {
      if (data['password']) {
        this.errors = data['password'];
      }
    }
  },
  methods: {}
}
</script>

<style scoped lang="scss">
.password__eye {
  margin-left: -30px;
  cursor: pointer;

  &:after {
    display: inline-block;
    content: ' ';
    background-image: url('/icons/password_closedEye.svg');
    background-size: 18px 13px;
    height: 13px;
    width: 18px;
    position: relative;
    top: 0;
    right: 14px;
  }

  &-opened {
    &:after {
      background-image: url('/icons/password_openedEye.svg');
      background-size: 21px 20px;
      height: 17px;
      width: 22px;
    }
  }
}
</style>
