<template>
  <button
    :disabled="!anyActivitiesChecked(managesIndex) && !hasAnyActivitySaved(managesIndex)"
    class="button"
    @click="click()"
  >
    Сохранить
  </button>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  props: [
    'managesIndex'
  ],
  data() {
    return {}
  },
  computed: {
    ...mapGetters({
      anyActivitiesChecked: 'planning/anyActivitiesChecked',
      hasAnyActivitySaved: 'planning/hasAnyActivitySaved',
    }),
  },
  methods: {
    click() {
      this.$emit('click');
    }
  }
}
</script>

<style scoped lang="scss">
.button {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 23px;
  color: white;
  padding: 0 0 20px;
  margin-top: 33px;

  &:disabled {
    color: rgba(255, 255, 255, 0.15);
  }

  &:hover {
    filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.4));
  }

  &:active {
    color: rgba(255, 255, 255, 0.6);
  }
}
</style>
