<template>
  <div class="graphs">
    <div class="graph" v-for="manages in getGraphs">
      <div class="graph__background"></div>
      <div
        class="graph__manage"
        v-for="manage in managesReverse(manages)"
        :style="{'height': (manage.activities/2) + 'px', 'background': manage.color}"
      >
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';

export default {
  components: {},
  data() {
    return {}
  },
  computed: {
    ...mapGetters({
      getGraphs: 'graphs/getGraphs'
    }),
  },
  created() {
    this.$root.$on('activities-saved', async () => {
      await this.getGraphsRequest(this.$route.params.id)
      this.$forceUpdate()
    })
  },
  mounted() {
    this.getGraphsRequest(this.$route.params.id)
  },
  methods: {
    ...mapMutations({}),
    ...mapActions({
      getGraphsRequest: 'graphs/getGraphsRequest',
    }),
    managesReverse(manages) {
      return manages.slice().reverse()
    }
  }
}
</script>

<style lang="scss" scoped>
.graphs {
  height: fit-content;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 0 44px;
  margin-top: 130px;
  margin-bottom: 10px;
  align-items: flex-end;

  .graph {
    position: relative;
    flex-direction: column;
    width: 32px;
    transform: rotate(180deg);
    height: fit-content;

    &__background {
      position: absolute;
      width: 16px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 8px;
      left: 8px;
      height: 100%;
    }

    &__manage {
      border-radius: 40px;
      width: 32px;
      max-height: 50px;
      position: relative;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }

  }
}
</style>
