<template>
  <div class="activities-categories">
    <div
      v-for="(manageReference, index) in manageReferences"
      class="activities-categories__circle-wrap"
    >
      <div class="activities-categories__circle">
        <radial-progress-bar
          v-if="activitiesCheckedSum(index) < 100"
          :diameter="90"
          :completed-steps="activitiesCheckedSum(index)"
          :total-steps="100"
          :inner-stroke-width="15"
          :stroke-width="13"
          :start-color="'#DEAF88'"
          :stop-color="'#DEAF88'"
          :inner-stroke-color="'#493273'"
        >
          <div class="activities-categories__circle-inner">
            <div class="activities-categories__circle-value">
              {{ activitiesCheckedSum(index) }}
            </div>
          </div>
        </radial-progress-bar>
        <div v-else class="completed-graph">
          <div class="completed-graph__inner">
          </div>
        </div>
      </div>
      <div class="activities-categories__text" :style="{color: manageReference.color}">
        {{ manageReference.name_rus }}
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {}
  },
  computed: {
    ...mapGetters({
      activitiesCheckedSum: 'planning/activitiesCheckedSum'
    }),
    manageReferences() {
      return this.$store.state.planning.manageReferences
    }
  },
  methods: {
    progress(event, progress, stepValue) {
      console.log(stepValue);
    },
    progress_end(event) {
      console.log("Circle progress end");
    },
  }
}
</script>

<style scoped lang="scss">
.activities-categories {
  margin-top: 32px;
  display: flex;

  &__circle {
    background: rgba(255, 255, 255, 0.06);
    width: 72px;
    height: 72px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-wrap {
      display: flex;
      flex-direction: column;
      margin-right: 45px;
    }

    &-inner {
      width: 47px;
      height: 47px;
      background-color: #3D2568;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-value {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      letter-spacing: 0.0015em;
      color: #DEAF88;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #44BCC8;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 9px 0 0;
    width: 105px;
  }
}

.completed-graph {
  background-color: #DEAF88;
  border-radius: 50px;
  width: 72px;
  height: 72px;
  position: relative;

  &__inner {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50px;
    box-shadow: inset 0 0 4px rgba(18, 4, 106, 0.2);
    left: 11px;
    top: 11px;
  }

  &:after {
    display: inline-block;
    content: " ";
    background-image: url(/icons/checkbox_arrow.svg);
    background-size: 31px 31px;
    height: 31px;
    width: 31px;
    position: relative;
    left: 20px;
    top: 20px;
    vertical-align: middle;
  }
}
</style>
