<template>
  <v-app-bar :clipped-left="clipped" absolute app class="app-bar">
    <div v-if="!hasPrevPage || !isAuthenticated" class="app-bar__logo"></div>
    <BackButton v-else-if="isAuthenticated"/>
    <v-spacer/>
    <ProfileBlock v-if="isAuthenticated"/>
  </v-app-bar>
</template>

<script>
import { mapGetters } from "vuex";
import ProfileBlock from "~/components/layouts/navbar/ProfileBlock";
import BackButton from "~/components/inputs/BackButton";

export default {
  components: {
    ProfileBlock,
    BackButton
  },
  data() {
    return {
      clipped: false,
    }
  },
  computed: {
    ...mapGetters([
      'isAuthenticated',
      'hasPrevPage'
    ]),
  },
}
</script>

<style scoped lang="scss">
.app-bar {
  background-color: transparent !important;
  box-shadow: none !important;
  font-family: Lato, sans-serif !important;

  &__logo {
    width: 125px;
    height: 50px;
    margin-left: 43px;
    margin-top: 35px;
    background-image: url('/images/logo_with_text.svg');
  }
}
</style>
