<template>
  <div class="cost-wrap">
    <NotConverted :medal-level="activity.medal_level" :not-converted-cost="activity.value"/>
    <div class="cost">
      {{ activity.count * convertValue }}
    </div>
    <img class="cost-img" src="/icons/filled.svg" alt="image"/>
  </div>
</template>

<script>
import NotConverted from "../manageReference/activities/costAndComment/cost/NotConverted";
import CostConvertMixin from "../manageReference/activities/costAndComment/CostConvertMixin";

export default {
  components: {
    NotConverted
  },
  mixins: [
    CostConvertMixin
  ],
  props: {
    activity: {},
  },
}
</script>

<style scoped lang="scss">
.cost {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 23px;

  &-wrap {
    display: flex;
    align-items: center;
    right: 63px;
    position: absolute;

    &-checked {
      width: 601px;
      margin-right: 5px;
    }
  }

  &-img {
    margin-left: 2px;
  }
}
</style>
