<template>
  <div class="list" v-if="hasAnyActivitySaved(index)">
    <div
      v-if="activity.saved"
      v-for="(activity, activityIndex) in manageReference.activities"
      class="item"
    >
      <div class="date">{{ formatDateFunc(activity.created_at) }}</div>
        <div class="name">{{ activity.name }}</div>
      <OldCost :activity="activity"/>
    </div>
  </div>
</template>

<script>
import {mapGetters} from "vuex";
import OldCost from "./OldCost";

export default {
  props: {
    index: {},
    manageReference: {},
  },
  components: {
    OldCost,
  },
  data() {
    return {}
  },
  computed: {
    ...mapGetters({
      hasAnyActivitySaved: 'planning/hasAnyActivitySaved'
    }),
  },
  methods: {
    formatDateFunc(date) {
      const now = new Date(date)
      const day = now.getDate() > 9 ? now.getDate() : '0' + now.getDate()
      const month = now.getMonth() > 9 ? now.getMonth() : '0' + now.getMonth()

      return day + '.' + month + '.' + now.getFullYear()
    }
  }
}
</script>

<style scoped lang="scss">

.list {
  display: flex;
  flex-direction: column;
  background: #271C84;
  margin-left: 5px;
  box-shadow: inset 0 2px 10px rgba(9, 11, 60, 0.4);
  border-radius: 0 0 10px 10px;
  transform-origin: top;
  transition: transform .4s ease-in-out;
  padding-bottom: 23px;
}

.item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.0015em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 20px;
  margin-bottom: 2px;
  margin-left: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 22px;
  position: relative;

  &-checked {
    color: white;
  }
}

.date {
  width: 140px;
  position: absolute;
}

.name {
  position: absolute;
  left: 208px;
}
</style>
