<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="12" md="12" class="planning">
      <div class="top">
        <div class="top-left">
          <img width="32" height="32" class="avatar" :src="image" alt="avatar"/>
          <div class="description">
            <div class="name">{{ student.full_name }}</div>
            <div class="faculty">{{ faculty }}</div>
          </div>
        </div>
        <div class="top-right">
          <div class="title">
            До диплома <span style="color: #D4A785; cursor: pointer">общего уровня</span> осталось бронзовых баллов
          </div>
          <ManageReferencesCircleGraphs/>
        </div>
      </div>
      <div class="activities-title">
        Старайтесь планировать активности равномерно
      </div>
      <Graphs/>
      <div class="bottom">
        <div class="bottom__background">
        </div>
        <YearsTabs/>
        <div class="bottom__content">
          <ManageReferences v-if="!getSelectedYear.old"/>
          <OldManageReferences v-else/>
        </div>
      </div>
    </v-col>
  </v-row>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';
import OldManageReferences from "../../components/planning/bottom/OldManageReferences";
import Tag from "../../components/home/list/row/tags/Tag";
import Checkbox from "../../components/inputs/Checkbox";
import YearsTabs from "../../components/planning/bottom/YearsTabs";
import ManageReferences from "../../components/planning/bottom/ManageReferences";
import ManageReferencesCircleGraphs from "../../components/planning/ManageReferencesCircleGraphs";
import Graphs from "../../components/planning/Graphs";

export default {
  middleware: 'auth',
  props: [
    'id'
  ],
  components: {
    Tag,
    Checkbox,
    ManageReferencesCircleGraphs,
    YearsTabs,
    ManageReferences,
    OldManageReferences,
    Graphs
  },
  data() {
    return {
      image: 'https://sun4-16.userapi.com/impf/WzLEqYvBsbMdxJlgFAwhwUMQGRDkVh_IXyY8dA/II1SOPONFmU.jpg?size=864x1080&quality=96&sign=5d4f62a95d8c88e37d420181080ec44a&type=album',
      faculty: '7 / Физико-математическое',
      relevance: '14.12.2020',
    }
  },
  computed: {
    ...mapGetters([
      'background',
    ]),
    ...mapGetters({
      getSelectedYear: 'years/getSelectedYear',
      getCurrentYear: 'years/getCurrentYear'
    }),
    student() {
      return this.$store.state.students.student
    }
  },
  async created() {
    await this.getYears()
    this.$root.$on('year-selected', (yearsStart) => {
      this.getPage({ id: this.$route.params.id, yearsStart })
    })
    this.$root.$emit('year-selected', this.getCurrentYear.years_start)
  },
  mounted() {
    this.setBackground(`url(/images/background_2.png) center -34px / contain no-repeat, linear-gradient(180deg, #281267 0%, #1D1E77 100%)`)
    this.getStudentById(this.$route.params.id)
    this.setHasPrevPage(true)
  },
  methods: {
    ...mapActions({
      getPage: 'planning/getPage',
      getStudentById: 'students/getStudentById',
      getYears: 'years/getYears',
    }),
    ...mapMutations({
      setHasPrevPage: 'setHasPrevPage',
      setBackground: 'setBackgroundImage'
    }),
  }
}
</script>

<style scoped lang="scss">
.background-image {
  position: absolute;
  height: 100%;
  top: -345px;
}

.planning {
  display: flex;
  flex-direction: column;
  padding: 78px 61px 0;

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-left {
      display: flex;
      flex-direction: row;
      margin-top: 20px;

      .avatar {
        width: 62px;
        height: 62px;
        border-radius: 40px;
      }

      .description {
        padding-left: 11px;

        .name {
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 30px;
          letter-spacing: 0.0015em;
          color: #FFFFFF;
          flex: none;
          order: 0;
          flex-grow: 0;
          margin: 0 8px;
        }

        .faculty {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.005em;
          color: rgba(255, 255, 255, 0.6);
          flex: none;
          order: 1;
          flex-grow: 0;
          margin: 0 8px;
          padding-top: 7px;
        }
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
      height: 210px;
      width: 754px;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(20px);
      border-radius: 10px;

      .title {
        height: 30px;
        top: 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.0015em;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
      }
    }
  }

  .activities-title {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #FFA300;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 60px 0 10px;
    z-index: 1;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 70px;

    &__background {
      background: #271C84;
      box-shadow: 0px -5px 10px rgba(15, 35, 69, 0.1);
      border-radius: 20px 20px 0 0;
      padding: 24px 60px 61px;
      position: absolute;
      height: 100%;
      left: -55px;
      right: -55px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      z-index: 2;
    }
  }
}
</style>
